<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Your Cart</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Your Cart</h1>-->
<!--{% if cart_items %}-->
<!--<ul>-->
<!--  {% for item in cart_items %}-->
<!--  <li>{{ item.name }} - Quantity: {{ item.quantity }} - Total: ${{ item.total }}</li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<p>Your cart is empty.</p>-->
<!--{% endif %}-->
<!--<button onclick="window.location.href='/'">Back to Menu</button>-->
<!--<button onclick="window.location.href='/checkout'">checkout</button>-->
<!--&lt;!&ndash;both line are same use any&ndash;&gt;-->
<!--&lt;!&ndash;<a href="{{ url_for('food_preference') }}" class="back-link">Back to Menu</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="{{ url_for('checkout') }}" class="back-link">checkout</a>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
